html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    --borders-color: #666;
    --borders-color-lighten: #777;

    --body-font-color: #eee;
    --body-bg-color: #333333;
    --label-bg-color: #292929;
    --label-bg-color-selected: #333333;

    --body-anchor-color: #6b6;
    --body-anchor-color-hover: #9f9;

    background: var(--body-bg-color);
    color: var(--body-font-color);
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

    .content-pane {
        padding: 2rem;
        position: absolute;
        width: 100vw;
        left: 0;
        transition: left .5s;
        &.show-mobile-menu {
            left: 302px;
        }
    }

    .position-relative {
        position: relative;
    }

    .mobile-menu {
        background: #000;
        border-right: solid 2px var(--borders-color);
        height: 100vh;
        left: -302px;
        padding: 4rem 1rem;
        position: fixed;
        top: 0;
        z-index: 50;
        transition: left .5s;
        width: 300px;
        &.show-mobile-menu {
            left: 0;
        }
        .main-menu {
            li {

                margin: 0;
                padding: 0;
                display: block;

                > a {
                    border-radius: 0.5rem;
                    cursor: pointer;
                    display: block;
                    margin: 0.25rem 0.125rem 0 0;
                    padding: 0.5rem 0.75rem;
                    text-decoration: none;
                    white-space: nowrap;
                    text-align: left;
                    color: var(--body-font-color);

                    &:hover {
                        background-color: var(--borders-color-lighten) !important;
                    }
                }

                &.active {
                    > a {
                        background-color: var(--borders-color);

                    }
                }

                > .sub-menu {
                    li {

                        margin: 0;
                        padding: 0;
                        display: block;

                        > a {
                            border-radius: 0.5rem;
                            cursor: pointer;
                            display: block;
                            margin: 0.25rem 0.125rem 0 0;
                            padding: 0.5rem 0.75rem;
                            text-decoration: none;
                            white-space: nowrap;
                            text-align: left;
                            color: var(--body-font-color);

                            &:hover {
                                background-color: var(--borders-color-lighten) !important;
                            }
                        }

                        &.active {
                            > a {
                                background-color: var(--borders-color);

                            }
                        }


                    }
                }
            }
        }
    }

    header {
        margin: 0;
        padding: .5rem 0 0 0;
        background: #000;
        display: block;
        position: relative;
        z-index: 100;

        .top-menu {
            display: flex;
            text-align: left;
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100%;
            border-bottom: solid 2px var(--borders-color);
            li {

                margin: 0;
                padding: 0;
                display: none;

                &.mobile-menu-button {
                    display: inline;
                    padding: 0 1rem;
                    svg {
                        height: 2rem;
                        cursor: pointer;
                    }
                }

                a {
                    border-top-left-radius: 0.5rem;
                    border-top-right-radius: 0.5rem;
                    cursor: pointer;
                    display: block;
                    margin: 0.25rem 0.125rem 0 0;
                    padding: 0.5rem 0.75rem;
                    text-decoration: none;
                    white-space: nowrap;
                    text-align: center;
                    color: var(--body-font-color);

                    &:hover {
                        background-color: var(--borders-color-lighten) !important;
                    }
                }

                &.active {
                    a {
                        background-color: var(--borders-color);

                    }
                }

            }
        }

        .sub-menu {
            display: none;
            text-align: left;
            list-style: none;
            margin: -.25rem 0 0 2rem;
            padding: 0 0 .5rem 0;
            width: 100%;

            li {
                margin: 0;
                padding: 0;
                display: inline;

                a {
                    cursor: pointer;
                    display: block;
                    margin: 0.25rem 0.125rem 0 0;
                    padding: 0.5rem 0.75rem;
                    text-decoration: none;
                    white-space: nowrap;
                    text-align: center;
                    color: var(--body-font-color);
                    border-bottom-right-radius: .5rem;
                    border-bottom-left-radius: .5rem;
                    &:hover {
                        background-color: var(--borders-color-lighten) !important;
                    }
                }

                &.active {
                    a {
                        background-color: var(--borders-color);

                    }
                }

            }
        }
    }


    label {
        background: var(--label-bg-color);
        padding: 1rem;

        margin: 0 0 0 0;
        display: block;
        input {
            padding: .125rem .25rem;
        }

        input[type=checkbox] {
            padding: 0;
            margin: 0 .5rem 0 0;
        }
        .check-image {
            display: none;
        }
        &.checkbox-image {
            input[type=checkbox] {
                appearance: none;
                outline: none !important;
                margin: 0;
                padding: 0;
            }
            .check-image {
                display: inline-block;
                margin: 0 .5rem 0 0;
                max-width: .9rem;
                padding: .25rem 0 0 0;

            }
        }
        &.bigger-image {
            .check-image {
                display: block;

                max-width: 1.7rem;
                margin: -.125rem .5rem 0 0;
                padding: .25rem 0 0 0;
                float: left;
            }
        }

        > .small-text {
            margin: 0;

        }
        border: solid 1px transparent;
        &:focus-within {
            border-radius: .5rem;
            // border: solid 1px var(--borders-color);
            background-color: var(--label-bg-color-selected);
        }
        *:last-child {
            margin-bottom: 0 !important;
            // padding-bottom: 0 !important;
        }
    }
    .fieldset {
        background: var(--label-bg-color);
        border-radius: .5rem;
        margin: 0 0 1rem 0;
        display: block;
        border: solid 2px var(--borders-color);

        legend {
            font-size: 1.25rem;
            padding: .125rem 1rem;
            margin: 0 auto 0 auto;
            width: 80%;
            text-align: center;
            border-radius: 3rem;
            color: var(--body-color);
            background: var(--borders-color);
            border: solid 2px var(--borders-color);
        }

        label {
            padding: .25rem .5rem .25rem .5rem;
            margin: .5rem 1rem .5rem 1rem;
            // border-bottom:  solid 1px var(--borders-color);
            // &:last-child {
            //     border-bottom: solid 1px transparent !important;
            // }
            // &:focus-within {
            //     // border: solid 1px var(--borders-color);
            //     background:
            // }
        }

    }

    h1 {
        text-align: center;
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .small-text {
        font-size: .7rem;
    }

    a {
        color: var(--body-anchor-color);
        text-decoration: none;
        &:hover {
            color: var(--body-anchor-color-hover);
        }
    }

    .inline {
        display: inline;
    }
    pre {
        background: #222;
        color: #88c;
    }
    .text-center {
        text-align: center;
    }

    footer {
        margin: 1rem 0 0 0;
        padding: 1rem 0 0 0;
        border-top: solid 2px var(--borders-color);
        text-align: center;
    }

    .btn {
        border: solid 1px transparent;
        background: var(--borders-color);
        color: #fff;
        padding: .25rem .5rem;
        margin: .25rem .5rem;
        cursor: pointer;
        &:hover {
            background: var(--borders-color-lighten);
        }
        &.btn-primary {
            background: var(--body-anchor-color);
            &:hover {
                background: var(--body-anchor-color-hover);
                color: #333;
            }
        }

        &.btn-secondary {
            background: var(--borders-color);
            &:hover {
                background: var(--borders-color-lighten);
            }
        }
    }
}

@media screen and (min-width: 600px) {
    body {
        .mobile-menu {
            left: -302px !important;
        }

        header {
            .top-menu {
                li {
                    display: inline;
                    &.mobile-menu-button {
                        display: none;
                    }
                }

            }
            .sub-menu {
                display: flex;

            }
        }
        .position-relative {
            .content-pane {
                left: 0;
            }
        }
    }

}